<!-- Photos.razor -->
@page "/photos/{albumId:int}"
@using BlazorAppJSONPlaceholder.Models;
@inject BlazorAppJSONPlaceholder.Services.PhotoService photoService;  // PhotoService servisini enjekte edin
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager; // NavigationManager'ı enjekte edin

<h1>Fotoğraf Listesi</h1>

@if (photos != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>AlbumId</th>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
                <th>ThumbnailUrl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photo in photos)
            {
                <tr>
                    <td>@photo.AlbumId</td>
                    <td>@photo.Id</td>
                    <td>@photo.Title</td>
                    <td>@photo.Url</td>
                    <td>@photo.ThumbnailUrl</td>
                </tr>

            }
        </tbody>
    </table>


    @*     @foreach (var photo in photos)
    {
        <div class="photo-card">
            <h2>@photo.Title</h2>
            <img src="@photo.Url" alt="@photo.Title" />
            <!-- Diğer fotoğraf bilgileri -->
        </div>
    } *@
}
else
{
    <p>Veriler yükleniyor...</p>
}

@code {
    List<Photo> photos;

    [Parameter]
    public int albumId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        photos = await photoService.GetPhotosAsync(albumId);
    }
}
